@import '_color';

/* Transação */
@mixin trans($time,$transition){
   transition: $time $transition; 
}

.navbar-default{
    background-color: $preto;
    border: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid $azul;
    .navbar-collapse{
        li{
            .dropdown-menu{
                background-color: $preto;
                li a:hover{
                    background-color: transparent;
                }
            }
            a{
                @include trans(.2s,linear);
                color: #fff;
                text-transform: uppercase;
                &:hover{                
                color: $azul;   
                }
            }
          
        }
    }
}

.navbar{
    border-radius: 0%;
    margin-bottom: 0px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: transparent;
}

@media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
    }
}

