@import '_color';
@import '_header';

.info{
    background-color: $azul;
    padding-top: 50px;
    .textos{
        width: 80%;
        h2{
            color: #fff;
            text-transform: uppercase;
            font-size: 40px;
        }
        p{
            font-size: 18px;
        }
        img{
            display: inline;
            padding-left: 10px;
        }
    }
}

@media(max-width: 991px){
    .info{
        .textos{
            margin: 0 auto;
            text-align: center;
            margin-bottom: 20px;
        }
        img{
            margin: 0 auto;
        }
    }      
}

.desc{
    background-color: $preto;
    color: #fff;
    .main-text{
        width: 70%;
        text-align: center;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 40px;
        h2{
            text-transform: uppercase;
            font-size: 40px;
        }
        p{
            font-size: 20px;
        }
    }
    .around{
        text-align: center;
        .block{
            i{
                @include trans(.2s,linear);
                font-size: 70px;
                &:hover{
                   color: $azul;
                }
            }
        }
    }


}